<div>
    <% if current_user %>
        <%= form_for(@band_name) do |f| %>
            <%= f.text_field :name, class: "band_name" %>.
            new band name. <%= f.submit "i call it", class: "button"%>.
        <% end %>
    <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
</div>

<%= error %>

<ul class="band_names">
  <%= render @band_names %>
</ul>
