<div>
    <%= form_for(@band_name) do |f| %>
        <%= f.text_field :name, class: "band_name" %>.
        new band name. <%= f.submit "i call it", class: "button"%>.
    <% end %>
</div>

<%= error %>

<h2>done been called already:<h2>
<ul class="band_names">
  <%= render @band_names %>
</ul>

<div class="facebook" id="user-widget">
  <% if current_user %>
    <div class="user_image">
        <img src="<%= current_user.image %>"/>
    </div>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
