<div>
  <%= simple_form_for @band_name do |f| %>
    <span class="<%= :disabled if current_user.nil? %>">
    <%= f.input :name, label: false, wrapper: false, disabled: current_user.nil? %>. new band name.
    <%= f.button :submit, "i call it", disabled: current_user.nil? %>.
    </span>
  <% end %>
</div>

<ul class="band_names">
  <%= render @band_names %>
</ul>

<%= paginate @band_names %>
