<div>
    <% if current_user %>
        <%= form_for(@band_name) do |f| %>
            <%= f.text_field :name, class: "band_name" %>.
            new band name. <%= f.submit "i call it", class: "button"%>.
        <% end %>
    <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
</div>

<%= error %>

<ul class="band_names">
  <%= render @band_names %>
</ul>

<div class="facebook" id="user-widget">
  <% if current_user %>
    <div class="user_image">
        <img src="<%= current_user.image %>"/>
    </div>
  <% end %>
</div>

<div class="dwyer">
  <%= image_tag 'chris-pratt-andy-dwyer-tv-happy-parks-and-recreation_small_square_50.gif', {width: 50, height: 50} %>
</div>
