<!DOCTYPE html>
<html>
<head>
  <title>dwyer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <div class="breadcrumbs">
      <%= link_to "dwyer", root_path %>
      <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>
    </div>
    <div class="error">
      <%= error %>
    </div>
    <div class="notice">
      <%= notice %>
    </div>
</header>

<article>
<%= yield %>
</article>

<footer>
    [<%= link_to "dwyer", root_path, style: "text-decoration:underline" %>]
    <a target="_blank" href="https://twitter.com/nonrational">@nonrational</a>.
</footer>

<div class="facebook" id="user-widget">
  <% if current_user %>
    <div class="user_image <%= 'admin' if current_user.admin? %>">
        <%= link_to "logout", destroy_user_session_path %>
    </div>
  <% else %>
    <div id="sign_in_with_google" class="col-md-4 center-block" style="">
      <%= link_to "login", user_google_oauth2_omniauth_authorize_path %><br />
    </div>
  <% end %>
</div>

<div class="dwyer">
  <%= image_tag 'chris-pratt-andy-dwyer-tv-happy-parks-and-recreation_small_square_50.gif', width: 50, height: 50 %>
</div>

</body>
</html>
