<!DOCTYPE html>
<html>
<head>
  <title>dwyer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

  <article>
    <header>
      <div class="breadcrumbs">
        <%= link_to "dwyer", root_path %>
        <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>
      </div>

      <div class="alert">
        <div class="error">
          <%= error %>
        </div>

        <div class="notice">
          <%= notice %>
        </div>
      </div>

       <div class="user_info" id="user-widget">
        <% if current_user.present? %>
        <div class="user_image <%= 'admin' if current_user.admin? %>">
          <%= link_to "Log out #{current_user.name}".titlecase,  destroy_user_session_path %>
        </div>
        <% else %>
        <div id="sign_in_with_google" class="col-md-4 center-block" style="">
          <%= link_to "login", user_google_oauth2_omniauth_authorize_path %><br />
        </div>
        <% end %>
      </div>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <div class='cover_container'>
        <%= image_tag('cover.png', class: :cover) %>
      </div>
    </footer>
  </article>

</body>
</html>
