<!DOCTYPE html>
<html>
<head>
  <title>dwyer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrap">
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="javascript:void(0)" class="logo">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
        </a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <li class="nav-link"><%= link_to "Bands", root_path %>"></li>
          </ul>
        </nav>
      </div>

      <div class="flash-error"><%= error %></div>
      <div class="flash-notice"><%= notice %></div>
    </header>

    <article>
    <%= yield %>
    </article>
  </div>
  <footer class="footer" role="contentinfo">
    <p>for <a target="_blank" href="https://twitter.com/kweeston">@kweeston</a> by <a target="_blank" href="https://twitter.com/nonrational">@nonrational</a></p>
  </footer>
</body>
</html>
